<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:replace="fragments/navBar :: navBar"></div>

<div>Usuarios</div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
        <table class="table">
            <thead>

            </thead>
            <tbody>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            <div th:each="user : ${listusr}">
                <tr>

                    <td><a th:text="${user.getUsername()}"></a></td>
                    <td>
                        <a th:href="@{/edit/{username}(username=${user.getUsername()})}" class="btn btn-primary btn-lg" >
                            <!--<i class="bi bi-pencil"></i>-->
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                    </td>

                </tr>

            </div>

            </tbody>
            <tfoot>
            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalPages}]]
                    </div>
                    <div class="col-sm-1">
                      <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                           <a th:if="${currentPage != i}" th:href="@{'/users/' + ${i}}">[[${i}]]</a>
                             <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                          </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/users/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/users/' + ${totalPages}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
            </tfoot>
        </table>
    <nav aria-lavel="Page navigation example">
        <ul class="pagination mt-4">
            <li class="page-item" th:each="page, status:${listusers}">
                <a class="page-link" th:text="${status.index}"></a>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <a th:href="@{/users/new}"  class="btn btn-primary">Nuevo Usuario</a>

</div>
</body>
</html>