<html xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navBar :: navBar"></div>

<h1>Editar Cliente</h1>
<form action="#" th:action="@{/customer/edit}" th:object="${customer}"  method="post">
  <div class="row">
    <div class="col-sm-12">
      Id:
      <input id="id" name="id" class="form-control" type="text" th:field="*{id}" readonly="readonly" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Nombre:
      <input id="name" name="name" class="form-control" type="text" th:field="*{name}" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="submit" class="btn btn-primary" value="modificar Cliente">
    </div>
  </div>
</form>
</body>
</html>