<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<!-- Navbar -->

<div th:replace="fragments/navBar :: navBar"></div>

<span class="glyphicon glyphicon-name"></span>
<div class="row"></div>
<br/>
<br/>
<br/>
<br/>

<div class="row">
    <table class="table table-striped align-middle table-sm text-center order-column w-100">
        <thead>

        </thead>
        <tbody>
        <tr>

            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="customer : ${customerPage.content}">

            <td><span th:text="${customer.getName()}"></span></td>
                        <td>
                <a th:href="@{/editCustomer/{id}(id=${customer.getId()})}" class="btn btn-primary" >
                    <img src="../img/pencil.png" />
                </a>
            </td>
            <td>
                <a th:href="@{/deletecustomer/{id}(id=${customer.getId()})}" class="btn btn-danger btn-lg"  >
                    <img src="../img/bin.png" />
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <nav th:if="${customerPage.totalPages > 0}" aria-label="Pagination"
         th:each="pageNumber : ${pageNumbers}" style=>

        <a th:href="@{/customers(size=${customerPage.size}, page=${pageNumber})}"
           th:text=${pageNumber} class="page-item"
           th:class="${pageNumber==customerPage.number + 1} ? active"></a>
    </nav>
</div>
<!--
<nav aria-label="Pagination" th:if="${customers.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/admin/customers?page={id}(id=${customers.number lt 2 ? 1 : customers.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( customers.number + 1, customers.totalPages > 10 + customers.number ? customers.number + 10 : customers.totalPages, 1)}">
            <a class="page-link" th:href="@{/admin/customers?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${customers.number + 10 < customers.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/admin/customers?page={id}(id=${customers.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>
</div>-->

<div class="row">
    <a th:href="@{/customers/newCustomer}"  class="btn btn-primary">Nuevo Cliente</a>
</div>
</body>
<!--

<script th:src="@{../js/jquery-1.4.4.min.js}"></script>
<script type="text/javascript" th:src="@{../js/employees.js}"></script>


<script type="text/javascript" src=".." />-->
</html>