<header class=" row header" th:fragment="header">
    <!--    <div class="row header-logo-container">-->
    <a class="header-logo-container col-1" href="/main/index">
        <img class="logo-header" th:src="@{/img/thumbnail_N_fondo_trasparente.png}">
    </a>
    <div class="col-11 row justify-content-end justify-self-end container-user" id="navbarNavDropdown">
        <div class="dropdown col-2">
            <svg class="bi bi-person-circle mr-2 user-display-logo" fill="currentColor" height="35" viewBox="0 0 16 16"
                 width="35" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                      fill-rule="evenodd"></path>
            </svg>
            <button aria-expanded="false" class="btn btn-header dropdown-toggle user-display-text"
                    data-bs-toggle="dropdown"
                    th:text="${name}" type="button"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/main/employee/employeedata}" th:text="#{header.perfil}"></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
    <!--    </div>-->
</header>